@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* #182d38 */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #165272; */
    background-color: #182d38;
    color: white;
}
html{
    scroll-behavior: smooth;
}
.nav{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: rgb(24, 45, 56);
    align-items: center;
    color: white;
    
}
.nav-links{
    display: block;
    display: flex;
    color: white;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
}
.ham-nav-links{
    font-size: 1rem;
    list-style: none;
}
.ham-nav-links li{
    margin-top: 1rem;
}
.nav-container{
    height: 17vh;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    display: none;
}
a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.logo{
    font-size: 2rem;
    cursor: default;
}
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-bottom: 4rem;
    box-sizing: border-box;
}
.section-pic-container{
    display: flex;
    height: 350px;
    width: auto;
    margin: auto 0;
    box-sizing: border-box;
}
.section-pic-container img{
    border-radius: 50%;
}
.section-text{
    align-self: center;
    text-align: center;
}
.section-text p{
    font-weight: 600;
}
.section-heading{
    text-align: center;
    margin-bottom: 0.90rem;
}
.section-work{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.section-name{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
.socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    
}
.icon{
    cursor: pointer;
    height: 2rem;
}
#icon-x{
    cursor: pointer;
    height: 2rem;
    font-size: 2rem;
}
.leetcode{
    width: 1.8rem;
    height: 1.8rem;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}
#icon-g{
    cursor: pointer;
    height: 2rem;
    font-size: 2rem;
}
#icon-l{
    cursor: pointer;
    height: 2rem;
    font-size: 2rem;
}
#icon-g{
    cursor: pointer;
    height: 2rem;
    font-size: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #165272;
}
.btn{
    font-weight: 600;
    padding: 1rem;
    border-radius: 2rem;
    /* border: 1px solid gray; */
    cursor: pointer;
    box-shadow: 0 0 0.7rem darkgrey;
    background-color: rgb(24, 45, 56);
    color: white;
    border: none;
}
.btn-primary-container{
    /* background: #165272; */
    background-color: #182d38;
    margin-bottom: 2rem;
}
/* About Scetion */
#about{

    height: auto;
}
.heading{
    font-size: 3rem;
    text-align: center;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}
.about-content{
    width: 600px;
    height: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    background-color: #182d38;
    box-shadow: 0 0 1rem gray;
}
.about-content h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

#skill{
    height: auto;
    /* overflow: hidden; */
    padding-left: 1rem;
    padding-right: 1rem;
}
.header-skill-head h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}
.skill-main{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.frontend-skill{
    width: 600px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    padding-bottom: 1rem;
    background-color: #182d38;
    box-shadow: 0 0 1rem gray;
}
.frontend-skill h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.skill-bar{
    margin-bottom: 1rem;
}
.bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 2rem;
    margin-top: 5px;
    position: relative;
    
}
.bar span{
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 2rem;
}
.percentage{
    font-weight: bold;
}
.html{
    width: 70%;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0;
    }100%{
        width: 70%;
    }
}
.css{
    width: 50%;
    animation: css 3s;
}
@keyframes css{
    0%{
        width: 0;
    }100%{
        width: 50%;
    }
}
.js{
    width: 50%;
    animation: js 3s;
}
@keyframes js{
    0%{
        width: 0;
    }100%{
        width: 50%;
    }
}
.boots{
    width: 60%;
    animation: boots 3s;
}
@keyframes boots{
    0%{
        width: 0;
    }100%{
        width: 60%;
    }
}
.node{
    width: 40%;
    animation: node 3s;
}
@keyframes node{
    0%{
        width: 0;
    }100%{
        width: 40%;
    }
}
#projects{
    height: auto;
}
.q{
    margin-top: 2rem;
    text-align: center;
}
#contact{
    height: 80vh;
}
#contact p{
    margin-top: 2rem;
    text-align: center;
}


 #class-i{
    display: none;
}
#class-j{
    display: none;
    font-size: 1.5rem;
} 


@media(min-width:762px){
    nav{
        overflow: hidden;
    }
    #class-i{
        visibility: hidden;
        
    }
    #class-j{
        visibility: hidden;
        font-size: 1.5rem;
    } 
    .nav-container{
        visibility: hidden;
    }
    
}
@media screen and (max-width: 762px){
    #class-i{ 
        display: block;
        font-size: 1.5rem;
    }
    .nav-links li{
        display: none;
    } 
     #profile{
        flex-wrap: wrap;
    }
    .section-pic-container{
        height: 250px;
    } 
} 

.contact-me{
    width: 358px;
    box-shadow: 0 0 1rem gray;
    border-radius: 1rem;
}
.contact-inputs{
    margin: auto;
    background: white;
    margin-top: 1rem;
    display: block;
    width: 20rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.text-area{
    height: 10rem;
}

.btn-form{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.p1{
    width: 596px;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #182d38;
    box-shadow: 0 0 1rem gray;
}
.p1 h2{
    margin-left: 1.5rem;
    padding-top: 1rem;
}
.p1-text{
    margin-left: 1.5rem;
    margin-top: 0.7rem;
    margin-right: 1.5rem;
}
.btn-project{
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 0 0.7rem darkgrey;
    background-color: rgb(24, 45, 56);
    color: white;
    border: none;
}
.buttons{
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem 
}
.tech-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.tech-name{
    font-size: small;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-weight: bold;
}